.container{
    width: 40%;
    margin: 5px auto;   
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #aaaaaa;
  }
  
  p{
    margin: 0px;
    text-align: center;
    padding: 10px 0px;
    font-size: 18px;
  }
  
  